@define-color base   #1e1e2e;
@define-color accent #cba6f7;
@define-color text   #ffffff;

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 14px;
}

window {
  background-color: alpha(@base, 1.0);
  border: 1px solid @accent;
  border-radius: 0;
}

#outer-box {
  padding: 20px;
}

#input {
  background-color: @base;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  color: @text;
}

#input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

#input placeholder {
  opacity: 0.5;
}

scrollbar {
  opacity: 0;
}

#entry {
  padding: 14px;
  border: 2px solid transparent;
}

#entry:selected {
  background-color: alpha(@accent, 0.05);
  border-color: @accent;
}

#entry:selected #text {
  color: @accent;
}

#text {
  color: @text;
}

#img {
  margin-right: 14px;
}